/* google-fonts-link  */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow-x: none;
}

body {
    background: rgba(233, 74, 74, 0.04);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.menu-item {
    display: flex;
    padding: 0;
    margin: 0;
}

.menu-list-item {
    margin-right: 30px;
}

.bars {
    display: none;
}

.menu-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: black;
}

.brand-link {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: black;
}

.menu-link:hover {
    border-bottom: 2px solid rgb(20, 1, 129);
    color: #EA2525;
}

.contact {
    background-color: #191B1A;
    border-radius: 5px;
    color: white;
    padding: 3px;
}

.sec-quotes {
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    color: #0C0058;
}

.section-1 {
    display: flex;
    justify-content: space-evenly;
}

.section-1-text {
    padding-top: 100px;
}

.section-1-img {
    padding-top: 40px;
}

.section-1-text>h2 {
    line-height: 40px;
    margin-bottom: 20px;
}

.section-2-card {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}

.sec-2-card1,
.sec-2-card2 {
    width: 265px;
    height: 305px;
    padding: 50px;
    background: #EA2525;
    box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.sec-2-card1-img1,
.sec-2-card1-img2 {
    margin-top: 30px;
    padding: 10px;
}

.sec-2-card1-img2>img {
    padding-bottom: 15px;
}

.sec-2-card1-img1,
.sec-2-card1-img {
    background-color: #EA2525;
}

.sec-2-card1-img {
    display: flex;
    justify-content: center;
}

.sec-2-card2-item {
    margin-top: 30px;
}

.sec-2-card-2-icon {
    padding-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
}

.section-2-card {
    color: white;
}


/*Section-3*/

.section-3-row,
.personal-info-row {
    display: flex;
    justify-content: space-evenly;
}

.section-3-row {
    margin-top: 100px;
    margin-bottom: 75px;
}

.personal-info-row {
    margin-top: 50px;
}

.my-image {
    border-radius: 50%;
    border: 4px solid grey;
}

.profile {
    text-align: center;
}

.about-text {
    width: 400px;
}

.info-column-2 {
    margin-left: 30px;
}

.info-list-item {
    padding: 6px;
}

.cv-btn {
    margin-top: 20px;
}

.cv-btn-theme {
    width: 100px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    background-color: rgb(223, 157, 72);
}

@media only screen and (max-width:767px) {
    .bars {
        display: block;
    }
    .section-1,
    .section-2-card {
        flex-direction: column;
    }
    .section-1-text {
        margin-left: auto;
        margin-right: auto;
        width: 63%;
    }
    .section-1-img {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        margin-top: 40px;
    }
    .section-2-card {
        margin-left: auto;
        margin-right: auto;
        width: 63%;
    }
    .sec-2-card1 {
        margin-bottom: 50px;
    }
    .section-1 {
        padding-top: 66px;
    }
    /* nav-bar */
    .header {
        width: 100%;
        height: 50px;
        background: rgb(254 247 247);
        position: fixed;
    }
    .nav-bar {
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .menu-item {
        position: fixed;
        flex-direction: column;
        display: block;
        inset: 0 0 0 62%;
        padding: min(30vh, 10rem) 2em;
        backdrop-filter: blur(1rem);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .mobile-nav-toggle {
        position: absolute;
        border: 0;
        z-index: 9999;
        width: 1rem;
        top: 24px;
        right: -24px;
        background: rgb(254 247 247);
    }
    .menu-item[data-visible="true"] {
        transform: translateX(0%);
    }
    .section-1-img {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    /* section-3 */
    .section-3-row,
    .personal-info-row {
        flex-direction: column;
    }
    .info-column-2 {
        margin-left: 0;
    }
    .about-text {
        width: 87%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
    }
    .personal-info-row {
        margin: 31px;
    }
    .cv-btn {
        text-align: center;
    }
    .pb {
        padding-bottom: 50px;
    }
}

@media only screen and (max-width:320px) {
    .section-2-card {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

.text-rotate {
    position: relative;
}

@media only screen and (min-width:1024px) {
    #rot {
        width: 100px;
        transform: rotate(-90deg);
        position: absolute;
        font-size: 100px;
        top: 250px;
        left: 50px;
    }
    .menu-center {
        display: none;
    }
}

@media only screen and (max-width:1024px) {
    #rot {
        display: none;
    }
    .menu-center {
        text-align: center;
        font-size: 30px;
    }
}
